$primary: #287094;
$secondary: #023246;
$light: #f6f6f6;
$dark: #d4d4ce;
$danger: #f96b5f;
$warning: #fa991c;
$success: #95d2ba;

$body-color: $secondary;

$snapchat-color: #fffc00;
$instagram-color: #bd3381;
$twitter-color: rgb(29, 161, 242);
