@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";

@import "dropdown";
@import "socials";
@import "post";
@import "profile";

body {
    background-image: url("https://images.unsplash.com/photo-1519501025264-65ba15a82390?ixlib=rb-1.2.1&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.alert {
    border-radius: 1.5rem;
}

.underline {
    text-decoration: underline;
}

.header-1 {
    font-size: 2rem;
    font-weight: 300;
}

@include media-breakpoint-up("md") {
    .header-1 {
        font-size: 3.5rem;
    }
}

.error {
    color: $danger;
    font-weight: 600;
    text-align: center;
    width: 95%;
    margin: 0 auto 20px auto;
    font-size: 15px;
}

.sections {
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: calc(100vh - 100px);
    max-width: none;

    > .row {
        margin-left: 0;
        margin-right: 0;
    }
}

@include media-breakpoint-up("xl") {
    .sections {
        max-width: 1200px;
    }
}

.section {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);

    h1 {
        text-transform: uppercase;
        text-align: center;
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }

    p {
        &.info {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }

    .form-control {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    label {
        padding-left: 1rem;
        margin-bottom: 0;
    }

    .form-group {
        position: relative;
        top: -1rem;
        margin-bottom: 0;

        &.empty {
            top: 0;
            margin-bottom: 1rem;

            label {
                display: none;
            }
        }

        .btn {
            margin-top: 1rem;
        }
    }

    .btn {
        text-transform: uppercase;
    }

    .form-control,
    .btn {
        border-radius: calc((1.5em + 0.75rem + 2px) / 2);
    }
}

#profile-image {
    border: 6px solid $dark;
    border-radius: 50%;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}

.post-user-info {
    position: relative;

    .post-user-image {
        display: inline-block;
        border: 3px solid $dark;
        border-radius: 50%;
        width: 50px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 2px;

        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
    }

    p {
        display: inline-block;
        margin-left: 66px;
        width: calc(100% - 66px);
    }
}
